:root {
    --dark-blue: #1A9A9A;
    --light-blue: #C9E9E9;
    --grey-black: #414141;
}

* { padding: 0; margin: 0; }

/* NAVIGATION */
.navbar {
    height: 5vh;
}

.navy {
    width: 100%;
    background-color: white;
    padding: 0em 1.5em;
    padding-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 2;
    /* text-align: end; */

    position: fixed;
    top: 0;
}

.email-img-nav {
    width: 32%;
}

.github-img-nav {
    width: 55%;
}

.linkedin-img-nav {
    width: 30%;
}

.resume-btn {
    padding-right: 1.5em;
}

ul#navigation {
    /* display: inline; */
    display: flex;
    list-style-type: none;
}

ul#navigation li {
    /* display: inline; */
    padding: 1em;

    color: var(--grey-black);
    font-family: Myanmar Text;
    font-size: 1.1em;
}

li a {
    text-decoration: none;
    color: var(--grey-black);
}

li a:hover {
    color: var(--dark-blue);
    font-weight: bold;
}

.github-li {
    margin-left: -4em;
}
.linkedin-li {
    margin-left: -1em;
}

.download-img {
    width: 13%;
}

.download-img-hover {
    display: none;
    width: 15%;
}

.resume-btn:hover .download-img {
    display: none;
}
.resume-btn:hover .download-img-hover {
    display: inline;
}

.mobile-open-nav {
    display: none;
}
.mobile-close-nav {
    display: none;
}

/* .break {
    display: none;
} */


/* MOBILE NAV */
@media only screen and (max-width: 600px) {
    .navy {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: flex-start;
    }

    .mobile-open-nav {
        display: inline;
        padding: 2em;
        padding-right: 3em;
    }

    .mobile-close-nav {
        display: none;
        padding: 2em;
        padding-right: 3em;
    }
    
    .navy-links {
        display: none;
    }

    .nav-items {
        display: none;
    }

    ul#navigation {
        flex-direction: column;

        padding-right: 2em;

        font-size: 1.4em;
        text-align: right;
    }

    .resume-btn {
        padding-right: 0em;
    }

    .break {
        flex-basis: 100%;
        height: 0;
    }
}

.construction {
    /* margin-top: -5em; */
    text-align: center;
    padding-bottom: 2em;
}

#construction-img-1, #construction-msg, #construction-img-2 {
    display: inline-block;
}

#construction-img-1 {
    vertical-align: middle;
    width: 5%;
    padding-right: 2em;
}

#construction-msg {
    font-family: Myanmar Text;
    /* font-size: 1.25em; */
    font-size: 1.5vw;
}

#construction-img-2 {
    vertical-align: middle;
    width: 5%;
    padding-left: 2em;
}

@media only screen and (max-width: 600px) {
    #construction-msg {
        font-size: 3.5vw;
    }

    #construction-img-1 {
        padding-right: 0em;
    }

    #construction-img-2 {
        padding-left: 0em;
    }
}

/* INTRODUCTION */
.intro {
    padding: 1em 2em;
    height: 95vh;

    /* Display in two columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 0px;
}

.intro-left {
    text-align: center;
}

.pic-of-me {
    /* width: 80%; */
    width: 35vw;
}

.intro-btn {
    position: absolute;
    /* top: 70%; */
    /* left: 33%; */
    top: 68vh;
    left: 32vw;


    background-color: var(--dark-blue);
    border: none;
    border-radius: 30px;

    color: white;
    /* font-family: Myanmar Text; */
    font-weight: bold;
    /* font-size: 25px; */
    font-size: 1.75vw;
    padding: 0.5em 1.5em;
}

.intro-button:hover .intro-btn {
    cursor: pointer;
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.intro-right {
    margin-left: -60px;
    padding-top: 5em;
    padding-right: 3em;
}

h1 {
    color: var(--dark-blue);
    font-family: OCR A;
    /* font-size: 2.85em; */
    font-size: 3.25vw;
    font-weight: normal;
    padding-bottom: 1em;
}

.description {
    color: var(--grey-black);
    font-family: Myanmar Text;
    /* font-size: 1.5em; */
    font-size: 1.75vw;
}

.highlight {
    color: var(--dark-blue);
}

/* MOBILE INTRO */
@media only screen and (max-width: 600px) {
    .intro {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 1em;
    }

    .intro-right {
        grid-row: 1;
        padding-top: 1em;
        padding-right: 0em;
        margin-left: 0px;
    }

    h1 {
        font-size: 2em;
    }

    .description {
        font-size: 1.25em;
        padding-bottom: 1.5em;
    }

    .intro-btn {
        position: static;
        font-size: 4.75vw;
    }

    .pic-of-me {
        width: 100%;
    }
}

/* PROJECTS */
.projects {
    width: 100%;
}

.wave {
    width: 100%;
    position: relative;
    margin-bottom: -5px;
    padding: 0;
}

.project-heading {
    position: absolute;
    margin-top: -90px;
    /* padding-left: 4.5em; */
    padding-left: 16.5vw;

    color: var(--grey-black);
    font-family: OCR A;
    font-weight: normal;
    /* font-size: 3em; */
    font-size: 3.25vw;
}

.list-projects {
    background-color: var(--light-blue);
    padding: 4em 0em;
    padding-top: 5em;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding-bottom: 5em;
}

.project-title {
    color: var(--dark-blue);
    font-family: OCR A;
    font-weight: normal;
    /* font-size: 2em; */
    font-size: 2.25vw;
    padding-bottom: 1em;
}

.project-desc {
    color: var(--grey-black);
    font-family: Myanmar Text;
    /* font-size: 1.1em; */
    font-size: 1.55vw;
}

.tech {
    color: var(--dark-blue);
    padding-top: 3em;
    padding-bottom: 1em;
}

.right-col-img {
    text-align: end;
    overflow: hidden;
}

.project-img {
    width: 100%;
}

.project-right-img {
    margin-right: -80px;
}

.project-left-img {
    margin-left: -80px;
}

.left-col-text {
    padding-left: 6em;
    padding-right: 5em;
}

.right-col-text {
    padding-left: 4.25em;
    padding-right: 6em;
}

/* MOBILE PROJECT */
@media only screen and (max-width: 600px) {
    .wave {
        margin-bottom: -8px;
    }

    .project-heading {
        padding: 0em;
        padding-top: 1.3em;
        font-size: 2em;
        position: static;
        text-align: center;
        margin-top: 0;
        background-color: var(--light-blue);
    }

    .project-title {
        font-size: 1.5em;
        padding-top: 2em;
    }

    .list-projects {
        padding-top: 1em;
    }

    .project {
        grid-template-columns: repeat(1, 1fr);
        padding: 0em;
    }
    
    .project-desc {
        font-size: 4.50vw;
    }

    .left-col-text {
        padding: 2em;
    }
    .right-col-text {
        padding: 2em;
    }

    .project-right-img {
        margin-right: -40px;
    }
    
    .project-left-img {
        margin-left: -40px;
    }

    .left-col-img {
        grid-row: 2;
    }

    .tech {
        padding-top: 2em;
    }
}

/* ABOUT ME */
.about-me {
    background-color: var(--dark-blue);
    padding: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.about-me-heading {
    color: var(--light-blue);
    font-family: OCR A;
    font-weight: normal;
    /* font-size: 3em; */
    font-size: 3.25vw;
    padding-bottom: 1em;
}

.about-me-desc {
    color: white;
    font-family: Myanmar Text;
    /* font-size: 1.3em; */
    font-size: 1.55vw;
}

.up-arrow {
    padding-left: 0.25em;
    width: 3.5%;
}

.right-about {
    text-align: center;
    align-items: center;
}

.about-pics {
    display: none;
    width: 80%;
    padding-bottom: 2.25em;
}

/* MOBILE ABOUT ME */
@media only screen and (max-width: 600px) {
    .about-me {
        grid-template-columns: repeat(1, 1fr);
        padding: 4em 2em;
    }

    .about-me-heading {
        font-size: 2em;
        text-align: center;
    }

    .about-me-desc {
        font-size: 4.50vw;
    }

    .about-pics {
        width: 100%;
    }
}

/* CONTACT ME */
.contact-me {
    text-align: center;
    padding: 6em;
}

.contact-me-heading {
    color: var(--dark-blue);
    font-family: OCR A;
    font-weight: normal;
    /* font-size: 3em; */
    font-size: 3.25vw;
    padding-bottom: 1em;
}

.contact-me-desc {
    color: var(--grey-black);
    font-family: Myanmar Text;
    /* font-size: 1.5em; */
    font-size: 1.55vw;
    padding: 0em 7em;
    padding-bottom: 1em;
}

.logo-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.email-img-contact {
    width: 62%;
}

.github-img-contact {
    width: 100%;
}

.github-img-contact-hover {
    display: none;
}

/* .contact-github-img:hover .github-img-contact {
    display: none;
}
.contact-github-img:hover .github-img-contact-hover {
    display: inline;
} */

.linkedin-img-contact {
    width: 60%;
}

/* MOBILE CONTACT ME */
@media only screen and (max-width: 600px) {
    .contact-me {
        padding: 4em 2em;
    }

    .contact-me-heading {
        font-size: 2em;
    }

    .contact-me-desc {
        padding: 0em;
        padding-bottom: 2em;
        /* font-size: 1.25em; */
        font-size: 4.50vw;
    }
}

/* SCROLL BAR */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--light-blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}