:root {
    --dark-blue: #1A9A9A;
    --light-blue: #C9E9E9;
    --grey-black: #414141;
}

* { padding: 0; margin: 0; }

/* NAVIGATION */
.navbar {
    height: 5vh;
}

.navy {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: end; */
}

.email-img-nav {
    width: 32%;
}

.github-img-nav {
    width: 55%;
}

.linkedin-img-nav {
    width: 30%;
}

ul#navigation {
    /* display: inline; */
    display: flex;
    list-style-type: none;
}

ul#navigation li {
    /* display: inline; */
    padding: 1em;

    color: var(--grey-black);
    font-family: Myanmar Text;
    font-size: 1.1em;
}

li a {
    text-decoration: none;
    color: var(--grey-black);
}

li a:hover {
    color: var(--dark-blue);
    font-weight: bold;
}

.download-img {
    width: 13%;
}

.download-img-hover {
    display: none;
    width: 15%;
}

.resume-btn:hover .download-img {
    display: none;
}
.resume-btn:hover .download-img-hover {
    display: inline;
}


/* INTRODUCTION */
.intro {
    padding: 1em 2em;
    height: 95vh;

    /* Display in two columns */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    gap: 0px;
}

.intro-left {
    text-align: center;
}

.pic-of-me {
    width: 80%;
}

.intro-btn {
    position: absolute;
    top: 70%;
    left: 33%;

    background-color: var(--dark-blue);
    border: none;
    border-radius: 30px;

    color: white;
    /* font-family: Myanmar Text; */
    font-weight: bold;
    font-size: 25px;
    padding: 0.5em 1.5em;
}

.intro-right {
    margin-left: -60px;
    padding-top: 5em;
    padding-right: 3em;
}

h1 {
    color: var(--dark-blue);
    font-family: OCR A;
    font-size: 2.85em;
    font-weight: normal;
    padding-bottom: 1em;
}

.description {
    color: var(--grey-black);
    font-family: Myanmar Text;
    font-size: 1.5em;
}

.highlight {
    color: var(--dark-blue);
}

/* PROJECTS */
.projects {
    width: 100%;
}

.wave {
    width: 100%;
    position: relative;
    margin-bottom: -5px;
    padding: 0;
}

.project-heading {
    position: absolute;
    margin-top: -90px;
    padding-left: 4.5em;

    color: var(--grey-black);
    font-family: OCR A;
    font-weight: normal;
    font-size: 3em;
}

.list-projects {
    background-color: var(--light-blue);
    padding: 4em 0em;
    padding-top: 5em;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    padding-bottom: 5em;
}

.project-title {
    color: var(--dark-blue);
    font-family: OCR A;
    font-weight: normal;
    font-size: 2em;
    padding-bottom: 1em;
}

.project-desc {
    color: var(--grey-black);
    font-family: Myanmar Text;
    font-size: 1.1em;
}

.tech {
    color: var(--dark-blue);
    padding-top: 3em;
    padding-bottom: 1em;
}

.right-col-img {
    text-align: end;
    overflow: hidden;
}

.project-img {
    width: 100%;
}

.project-right-img {
    margin-right: -80px;
}

.project-left-img {
    margin-left: -80px;
}

.left-col-text {
    padding-left: 6em;
    padding-right: 5em;
}

.right-col-text {
    padding-left: 4.25em;
    padding-right: 6em;
}

/* ABOUT ME */
.about-me {
    background-color: var(--dark-blue);
    padding: 6em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-me-heading {
    color: var(--light-blue);
    font-family: OCR A;
    font-weight: normal;
    font-size: 3em;
    padding-bottom: 1em;
}

.about-me-desc {
    color: white;
    font-family: Myanmar Text;
    font-size: 1.5em;
}

/* CONTACT ME */
.contact-me {
    text-align: center;
    padding: 6em;
}

.contact-me-heading {
    color: var(--dark-blue);
    font-family: OCR A;
    font-weight: normal;
    font-size: 3em;
    padding-bottom: 1em;
}

.contact-me-desc {
    color: var(--grey-black);
    font-family: Myanmar Text;
    font-size: 1.5em;
    padding: 0em 7em;
    padding-bottom: 1em;
}

.logo-links {
    display: flex;
    justify-content: center;
    align-items: center;
}


.email-img-contact {
    width: 62%;
}

.github-img-contact {
    width: 100%;
}

.github-img-contact-hover {
    display: none;
}

/* .contact-github-img:hover .github-img-contact {
    display: none;
}
.contact-github-img:hover .github-img-contact-hover {
    display: inline;
} */

.linkedin-img-contact {
    width: 60%;
}


/* SCROLL BAR */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: var(--light-blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}